/* BORDE DE LA TABLA */
table, th, td {
    border: 1px solid black;
}

td:nth-of-type(2) {
    background-color: red;
}
td:nth-of-type(3) {
    background-color: green;
}
td:nth-of-type(4) {
    background-color: blue;
}

/* NAV */
nav {
    display: flex;
    justify-content:space-around;
    padding: 0.2em;
}
nav ul {
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: #788AA3;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #ff9900;
}